<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        <title>Pratya Biz Home Road</title>
		<link rel="shortcut icon" type="image/icon" href="logo/favicon.png"/>
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/linearicons.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link rel="stylesheet" href="css/flaticon.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootsnav.css" >	
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        
    </head>
	
	<body>

		<section id="home" class="welcome-hero">

			<div class="top-area">
				<div class="header-area">
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="index.html">Pratya Biz Home Lat Krabang<span></span></a>

				            </div>
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
				                    <li ><a href="/#">หน้าแรก</a></li>
				                    <li ><a href="#">ห้องพักเกสเฮ้าต์</a></li>
				                    <li ><a href="#">ติดต่อเรา</a></li>
				                    <li ><a href="/formlogin">🔒 เข้าสู่ระบบ</a></li>
				                </ul>
				            </div>
				        </div>
				    </nav>
				    <!-- End Navigation -->
				</div>
			    <div class="clearfix"></div>

			</div>
			<!-- top-area End -->
			<div class="container">
				<div class="welcome-hero-txt">
					<h2>Guest house of Pratya Biz Home  Lat  Krabang Roag</h2>
					<p>
						บ้านขนาด 3 ชั้นครึ่ง 3 ห้องนอน 3 ห้องน้ำ 2 ห้องนั่งเล่นจะซื้ออยู่หรือจะปล่อยเช่าก็คุ้มหมู่บ้านติดถนนใหญ่ ใกล้ห้างโรบินสันส่วนกลาง สระว่ายน้ำ สวน ฟิตเนต
					</p>
					<!-- <button class="welcome-btn" onclick="window.location.href='#'">contact us</button> -->
				</div>
			</div>
		</section>

        <section id="contact1">
            <div class="container">
                <h1>ติดต่อเรา</h1>
                <h2>ปรัชญา บิซโฮม ถนนลาดกระบัง</h2>
                <h3>ถนนลาดกระบัง-สุวรรณภูมิ แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพฯ</h3>
                <div class="contact-icons">
                    <a href="#" class="contact-icon facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="contact-icon line"><i class="fab fa-line"></i></a>
                    <a href="#" class="contact-icon phone"><i class="fas fa-phone"></i></a>
                </div><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d342.5884613806731!2d100.7233717673859!3d13.721719932061273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d67266693ea5b%3A0x4012d147e0a14970!2sPradya%20BisHome%20Onnut-Suvarnabhumi%20Townhome!5e0!3m2!1sth!2sth!4v1702476679336!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        





		<!--blog start -->
		<section id="blog" class="blog"></section><!--/.blog-->
		<!--blog end -->

		<!--contact start-->
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="index.html"> Pratya Biz Home</a>
								</div>
								<p>
								โครงการปรัชญา บิซโฮม ถนนลาดกระบัง แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพมหานคร
								</p>
								<div class="footer-contact">
									<p>mesangpry@gmail.com</p>
									<p>+1 (66) 0623573421</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>เกี่ยวกับเรา</h2>
								<ul>
									<li><a href="/#">หน้าแรก</a></li>
									<li><a href="#">ห้องพักเกสเฮ้าต์</a></li>
									<li><a href="/formcontact">ติดต่อเรา</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; Guest house management system Case Study of Pratya Biz Home Project</a>.
							</p><!--/p-->
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->

		<script src="js/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
		<script src="js/bootsnav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="js/custom.js"></script>
        
    </body>
	
</html>

    <style>

/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Kanit', sans-serif;
	font-size:16px;
	color:#818998;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:20px;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#444a57;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
p {
	margin: 0;
	color:#818998;
	font-size:16px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
    display: inline-block;
	
}
select,input,textarea,button,.form-control{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 16px;text-transform: capitalize;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}
.owl-carousel {z-index: 0;}
/* section-header */
.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 35px;
}
.section-header h2:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -42px;
    background: #4e4ffa;
}
.section-header p{color: #444a57;text-transform: capitalize;margin-bottom:10px;}
.section-header h2 span,.section-header p span{text-transform: lowercase;}

/* section-header */

/*=============Style css=========*/


/*-------------------------------------
        2. Top-area
--------------------------------------*/
nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: transparent;
}
.wrap-sticky nav.navbar.bootsnav.sticked {background-color: #434859;;box-shadow: 0 2px 5px rgba(0,0,0,.2);}

/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    padding: 45px 0px;
    text-transform:uppercase;
}
.navbar-header a.navbar-brand span{display: inline-block;color:#4e4ffa;text-transform:capitalize;}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding:30px 0px;}
/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
    color: #f5f7fa;
    font-size: 16px;
    font-weight: 500;
    text-transform:uppercase;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
nav.navbar.bootsnav ul.nav > li > a {padding: 48px 21px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus{color:#4e4ffa;}
nav.navbar.bootsnav ul.nav > li.active>a {color: #4e4ffa;}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a{padding:30px 25px;}
/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #4e4ffa;
}
/*.menu-ui-design*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid #4e4ffa;
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: #4e4ffa;}
/*.navbar-toggle */

/*-------------------------------------
        3.  Welcome-hero
--------------------------------------*/
.welcome-hero {
    position: relative;
    background:url(images/contact/BG1.jpg)no-repeat;
    /* background:url(../images/welcome-hero/welcome-banner.jpg)no-repeat; */
    background-position: center;
    background-size: cover;
    z-index: 1;
	
}
.welcome-hero:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42,45,84,.60);
}
.header-area{position: absolute;top:0;left:0;width: 100%;z-index: 99;}

/*.welcome-hero-txt*/
.welcome-hero-txt{text-align: center;padding:290px 0 372px;}
.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
	font-family: 'Kanit', sans-serif;
}
.welcome-hero-txt p {
    font-size: 18px;
    text-transform: initial;
    color: #fff;
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
	font-family: 'Kanit', sans-serif;
}
.welcome-btn {
    display: inline-block;
    width: 230px;
    height: 60px;
    background: #4e4ffa;
    color: #fff;
    border-radius: 3px;
    margin-top: 55px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}
.welcome-btn:hover{
    background: #0102fa;
}
/*.welcome-hero-txt*/

/*-------------------------------------
        4. Model-Search
--------------------------------------*/
.model-search-content .col-sm-12 {padding: 0;}
.model-search-content {
    padding: 40px 0;
    background: #fff;
    box-shadow:0 10px 40px 0px rgba(38,40,64,.2);
    position: absolute;
    bottom: -150px;
    width: 100%;
    border-radius: 3px;
}

/*.single-model-search*/
.single-model-search{margin-bottom: 30px;}
.single-model-search:last-child {margin-bottom: 0;}

.single-model-search h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}
/*model-select-icon*/
.model-select-icon{
    position:relative;
}
.model-select-icon .form-control {
    outline: 0!important;
    box-shadow: none;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    height: 60px;
}
.model-select-icon select {
    font-size: 16px;
    color: #888f9d;
    text-transform: capitalize;
}
.model-select-icon:after{
    position: absolute;
    content: "\f103";
    right: 0px;
    top: 0;
    font-size: 10px;
    color: #888f9d;
    background: #f8f8f8;
    height: 60px;
    line-height: 60px;
    width: 50px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    pointer-events: none;
    border: transparent;
}/*model-select-icon*/
.welcome-btn.model-search-btn {
    width: 160px;
    margin-top: 80px;
    margin-left: 53px;
}

/*-------------------------------------
        12. Contact
--------------------------------------*/
.contact {
    background: #353431;
}
.footer-top {padding: 30px 0 7px;}

/*.footer-logo*/
.footer-logo a,.footer-logo a:hover,.footer-logo a:focus{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
}
.single-footer-widget p {
    font-size: 14px;
    color: #eeeff6;
    max-width: 300px;
    margin:40px 0 20px;
}
.footer-contact p {
    margin: 0;
    color: #d1d7e9;
}
/*.footer-logo*/

.single-footer-widget {margin-bottom: 40px;}
.single-footer-widget h2 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 43px;
}
.single-footer-widget ul li {
    display:  inherit;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.single-footer-widget ul li:hover{
    -webkit-transform:translateX(10px);
    -moz-transform:translateX(10px);
    -ms-transform:translateX(10px);
    -o-transform:translateX(10px);
    transform:translateX(10px);
}
.single-footer-widget ul li a {
    font-size:  14px;
    color:  #cfd0e3;
    font-weight:  300;
    padding-bottom: 13px;
}
.single-footer-widget ul li a span {text-transform: lowercase;}
.footer-newsletter p{
    color: #aeafc2;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 15px;
}
/*hm-foot-email*/
.hm-foot-email{position: relative;}
.foot-email-box .form-control {
    background:#26294d;
    display: block;
    padding: 15px 20px;
    outline:0!important;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    border:0;
}
.foot-email-box input[type="text"]{
    font-size: 12px;
    color: #666c81;
    font-weight: 300;
}
.foot-email-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    color: #666c81;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-email-box .form-control:hover{
    box-shadow:0 5px 15px rgba(0,0,0,.4);
}
/*hm-foot-email*/
/*.footer-copyright */
.footer-copyright {
    padding: 20px 0 17px;
    border-top: 1px solid #434859;
}
.footer-copyright p,.footer-copyright p a {
    color: #a8a9bf;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-social{text-align: right;}
.footer-social a i {
    color: #fff;
    opacity: .40;
    font-size: 14px;
    margin-left: 16px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.footer-social i:hover{opacity: .70;}

/*===============================
    Scroll Top
===============================*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background:#4e4ffa;
	border:1px solid #4e4ffa;
	border-radius:50%;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	z-index: 2;
}
#scroll-Top  .return-to-top:hover {
    background:#fff;
    color: #4e4ffa;
	border:1px solid #4e4ffa;
}

#scroll-Top  .return-to-top i{
    position:relative;
    bottom:0;

}

#scroll-Top  .return-to-top i{
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration:1s;
}
@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}
.single-service-icon i {
      font-size: 60px; /* ปรับขนาดตามที่คุณต้องการ */
    } 
#contact1 {
    text-align: center;
    padding: 60px 0;
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contact-icon {
    font-size: 80px;
    margin: 0 120px; /* ปรับเปลี่ยนระยะห่างที่นี่ */
    color: #000000;
}

.contact-icon:hover {
    color: #000000;
}
/* ปรับขนาดของติดต่อเรา */
h1 {
    font-size: 40px; /* ขนาดตัวอักษรของ h1 */
    margin-bottom: 10px;
    color: #000000;
}
h2 {
    font-size: 33px; /* ขนาดตัวอักษรของ h1 */
    margin-bottom: 10px;
    color: #767b85;
}

h3 {
    font-size: 28px; /* ขนาดตัวอักษรของ h3 */
    margin-bottom: 10px;
}

</style>