<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        <title>Pratya Biz Home Road</title>
		<link rel="shortcut icon" type="image/icon" href="logo/favicon.png"/>
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/linearicons.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link rel="stylesheet" href="css/flaticon.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootsnav.css" >	
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        
    </head>
	
	<body>

		<section id="home" class="welcome-hero">

			<div class="top-area">
				<div class="header-area">
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="index.html">Pratya Biz Home Lat Krabang<span></span></a>

				            </div>
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
				                    <li ><a href="#">หน้าแรก</a></li>
				                    <li ><a href="#">ห้องพักเกสเฮ้าต์</a></li>
				                    <li ><a href="/formcontact">ติดต่อเรา</a></li>
				                    <li ><a href="/formlogin">🔒 เข้าสู่ระบบ</a></li>
				                </ul>
				            </div>
				        </div>
				    </nav>
				    
				</div>
			    <div class="clearfix"></div>

			</div>

			<div class="container">
				<div class="welcome-hero-txt">
					<h2>Guest house of Pratya Biz Home  Lat Krabang Road</h2>
					<p>
						ทำเลที่เหมาะกับการอยู่อาศัย ด้วยความที่อยู่ใกล้แหล่งงานขนาดใหญ่ รวมถึงเดินทางได้สะดวกสบาย และมีสิ่งอำนวยความสะดวกที่ครบครัน 
					</p>
				</div>
			</div>

		</section>
	
		<section id="service" class="service">
			<div class="container">
				<div class="service-content">
					<div class="row">
						<div class="col-md-4 col-sm-6" >
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="fa-solid fa-house" ></i>
								</div>
								<h2><a href="#">พร้อมสิ่งอำนวยความสะดวกครบครัน</a></h2>
								<p>
									โครงการ ปรัชญา บิซโฮม อ่อนนุช-สุวรรณภูมิ มีสาธารณูปโภคที่หลากหลาย ทั้งแหล่งช้อปปิ้งมอลล์ โรงเรียน โรงพยาบาลShopping Mallเช่น เดอะ พาซิโอ ลาดกระบังสถานศึกษาเช่น โรงเรียนวัดลานบุญ ,โรงเรียนวัดสังฆราชา ,โรงเรียนอนุบาลพร้อมโรงพยาบาลเช่น โรงพยาบาลสิรินธร (สังกัดกรุงเทพมหานคร)
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="fas fa-car" ></i>								  
								</div>
								<h2><a href="#">เดินทางสะดวกสบาย</a></h2>
								<p>
									เป็นทำเลที่อยู่อาศัยซึ่งพัฒนาขึ้นตามโครงสร้างพื้นฐานที่บุกเบิกมาก่อนอย่าง วงแหวนรอบนอกฝั่งตะวันออก, มอเตอร์เวย์หมายเลข 7 (กรุงเทพ - ชลบุรี) และแลนด์มาร์คสำคัญอย่างสนามบินสุวรรณภูมิ โดยการเดินทางที่สะดวก  ทำให้ทำเลนี้กลายเป็นอีกแหล่งที่อยู่อาศัยที่เติบโตอย่างต่อเนื่องของกรุงเทพฯ   
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="fa-solid fa-store"></i>
								</div>
								<h2><a href="#">ใกล้ห้างสรรพสินค้า</a></h2>
								<p>
									มีพร้อมรองรับความต้องการพื้นฐานอยู่ที่ศูนย์การค้าอย่าง เดอะ พาซิโอ้ มอลล์ ลาดกระบัง, โรบินสัน ไลฟ์สไตล์ ลาดกระบัง, และฮับใหญ่ประจำทำเลอย่าง เมกา บางนา โดยอีกแหล่งการค้าที่สำคัญของทำเลนี้ก็คือบรรดาห้างเอาต์เลตชั้นนำ ที่มีทั้ง เซ็นทรัล พรีเมียม เอาต์เลต รวมถึงห้างปลอดภาษี คิงเพาเวอร์ 
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		

		
		<section id="new-cars" class="new-cars">
			<div class="container">
				<br><br><div class="section-header">
					<p>Pratya <span>Biz</span> Home</p>
					<h2>Lat Krabang Road</h2>
				</div>
				<div class="new-cars-content">
					<div class="owl-carousel owl-theme" id="new-cars-carousel">
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="images/index/IMG1.jpg" width="100%" alt="img"/>
										</div>
									</div>
									<br><br><div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">Pratya Biz Home </a></h2>
											<p>
												จุดเด่นของโครงการ ปรัชญา บิซโฮม แอท อ่อนนุช
												โครงการตั้งอยู่ทำเลดีการเดินทางสะดวกใกล้ แอร์พอร์ตลิ้งค์สถานีบ้านทับช้าง และติดถนนใหญ่อ่อนนุช
											</p>
											<p class="new-cars-para2">
												โครงการใกล้แหล่งอำนวยความสะดวก อาทิ เทสโก้ โลตัส ซีคอนสแควร์ และตลาดรถไฟ ศรีนครินทร์ 
											</p>
											<center><button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
												ดูรายละเอียด
											</button></center>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="images/index/IMG2.jpg" alt="img"/>
										</div>
									</div>
									<br><br><div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">Pratya Biz Home </a></h2>
											<p>
												ข้อมูลโครงการ : โครงการเริ่มก่อสร้างเดือนธันวาคม ปี2558 โดยแบ่งเป็นอาคารพาณิชย์ 5 ชั้น จำนวน 12 ยูนิต และทาวน์โฮม 3 ชั้นครึ่ง จำนวน 180 ยูนิต มีคลับเฮ้าส์ สระว่ายน้ำและสวนสาธารณะส่วนกลางให้บริการ บนพี้นที่ 17-0-50 ไร่ 
											</p>
											<p class="new-cars-para2">
												ที่ตั้ง : ถนนลาดกระบัง-สุวรรณภูมิ แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพฯ 
											</p>
											<center><button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
												ดูรายละเอียด
											</button></center>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><br><br>
		

		
		<section id="blog" class="blog"></section>
		

		
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="index.html"> Pratya Biz Home</a>
								</div>
								<p>
								โครงการปรัชญา บิซโฮม ถนนลาดกระบัง แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพมหานคร
								</p>
								<div class="footer-contact">
									<p>mesangpry@gmail.com</p>
									<p>+1 (66) 0623573421</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>เกี่ยวกับเรา</h2>
								<ul>
									<li><a href="/#">หน้าแรก</a></li>
									<li><a href="#">ห้องพักเกสเฮ้าต์</a></li>
									<li><a href="/formcontact">ติดต่อเรา</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; Guest house management system Case Study of Pratya Biz Home Project</a>.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div>
			
        </footer>



		

		<script src="js/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
		<script src="js/bootsnav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="js/custom.js"></script>
        
    </body>
	
</html>

    <style>

/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Kanit', sans-serif;
	font-size:16px;
	color:#818998;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:20px;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#444a57;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
p {
	margin: 0;
	color:#818998;
	font-size:16px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
    display: inline-block;
	
}
select,input,textarea,button,.form-control{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 16px;text-transform: capitalize;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}
.owl-carousel {z-index: 0;}

.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 35px;
}
.section-header h2:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -42px;
    background: #4e4ffa;
}
.section-header p{color: #444a57;text-transform: capitalize;margin-bottom:10px;}
.section-header h2 span,.section-header p span{text-transform: lowercase;}



/*=============Style css=========*/


/*-------------------------------------
        
--------------------------------------*/
nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: transparent;
}
.wrap-sticky nav.navbar.bootsnav.sticked {background-color: #434859;;box-shadow: 0 2px 5px rgba(0,0,0,.2);}


.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    padding: 45px 0px;
    text-transform:uppercase;
}
.navbar-header a.navbar-brand span{display: inline-block;color:#4e4ffa;text-transform:capitalize;}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding:30px 0px;}



nav.navbar.bootsnav ul.nav > li > a {
    color: #f5f7fa;
    font-size: 16px;
    font-weight: 500;
    text-transform:uppercase;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
nav.navbar.bootsnav ul.nav > li > a {padding: 48px 21px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus{color:#4e4ffa;}
nav.navbar.bootsnav ul.nav > li.active>a {color: #4e4ffa;}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a{padding:30px 25px;}
/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #4e4ffa;
}



nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid #4e4ffa;
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: #4e4ffa;}
/*.navbar-toggle */

/*-------------------------------------
        3.  Welcome-hero
--------------------------------------*/
.welcome-hero {
    position: relative;
    background:url(images/index/BG1.jpg)no-repeat;
    /* background:url(../images/welcome-hero/welcome-banner.jpg)no-repeat; */
    background-position: center;
    background-size: cover;
    z-index: 1;
	
}
.welcome-hero:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42,45,84,.60);
}
.header-area{position: absolute;top:0;left:0;width: 100%;z-index: 99;}

/*.welcome-hero-txt*/
.welcome-hero-txt{text-align: center;padding:290px 0 372px;}
.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
	font-family: 'Kanit', sans-serif;
}
.welcome-hero-txt p {
    font-size: 18px;
    text-transform: initial;
    color: #fff;
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
	font-family: 'Kanit', sans-serif;
}
.welcome-btn {
    display: inline-block;
    width: 230px;
    height: 60px;
    background: #4e4ffa;
    color: #fff;
    border-radius: 3px;
    margin-top: 55px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}
.welcome-btn:hover{
    background: #0102fa;
}

/*-------------------------------------
        5. Service 
--------------------------------------*/
.service { padding: 100px 0 87px;}

.single-service-item{
    text-align: center;
    padding:55px 30px 60px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: 1px solid #dadfe9;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}

.single-service-icon {
    display: inline-block;
    color: #50616c;
}
.single-service-item h2 a {
    font-size:20px;
    margin: 35px 0 20px;
}
.single-service-item h2 a span {text-transform:  lowercase;}
.single-service-item p {padding-bottom: 35px;text-transform: initial;position: relative;}
.single-service-item p:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #3030ea;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}

.single-service-icon [class^="flaticon-"]:before,.single-service-icon[class*=" flaticon-"]:before,.single-service-icon [class^="flaticon-"]:after,.single-service-icon [class*=" flaticon-"]:after {font-size:60px;}
.single-service-item:hover .single-service-icon [class^="flaticon-"]:before,.single-service-item:hover .single-service-icon [class*=" flaticon-"]:before,.single-service-item:hover .single-service-icon [class^="flaticon-"]:after,.single-service-item:hover .single-service-icon [class*=" flaticon-"]:after {color:#fff;}


.single-service-item:hover h2 a,.single-service-item:hover p{color: #fff;}
.single-service-item:hover  p:before {background: #fff;}
.single-service-item:hover{box-shadow: 0 12px 30px 0px rgba(0,1,193,.2);background: #4e4ffa;border: 1px solid #4e4ffa;}


/*-------------------------------------
        6. New-cars
--------------------------------------*/
.new-cars-img img {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    width: 100%;
    height: auto;
  }
.new-cars{
    background: #f8f9fb;
    padding:0px 0px;
}
.new-cars-content{padding-top:96px;}
/*.new-cars-txt*/
.new-cars-txt {margin-left: 29px;margin-bottom: 30px;}
.new-cars-txt h2 a {
    font-size:  30px;
    font-weight:  500;
    margin-bottom: 26px;
}
.new-cars-txt h2 a span {text-transform:  uppercase;}
.new-cars-para2 {margin-top: 30px;}
.welcome-btn.new-cars-btn {
    width: 176px;
    margin-top: 32px;
}
/*.new-cars-txt*/

/*.owl-dots */
.new-cars .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 0px 4px;
    background: transparent;
    border: 1px solid #6a7781;
    border-radius: 50%;
}
.new-cars .owl-theme .owl-dots .owl-dot.active span,.new-cars .owl-theme .owl-dots .owl-dot:hover span {background: #6a7781;}
.new-cars .owl-theme .owl-nav.disabled+.owl-dots {margin-top: 62px;}

/*-------------------------------------
        12. Contact
--------------------------------------*/
.contact {
    background: #353431;
}
.footer-top {padding: 30px 0 7px;}

/*.footer-logo*/
.footer-logo a,.footer-logo a:hover,.footer-logo a:focus{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
}
.single-footer-widget p {
    font-size: 14px;
    color: #eeeff6;
    max-width: 300px;
    margin:40px 0 20px;
}
.footer-contact p {
    margin: 0;
    color: #d1d7e9;
}
/*.footer-logo*/

.single-footer-widget {margin-bottom: 40px;}
.single-footer-widget h2 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 43px;
}
.single-footer-widget ul li {
    display:  inherit;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.single-footer-widget ul li:hover{
    -webkit-transform:translateX(10px);
    -moz-transform:translateX(10px);
    -ms-transform:translateX(10px);
    -o-transform:translateX(10px);
    transform:translateX(10px);
}
.single-footer-widget ul li a {
    font-size:  14px;
    color:  #cfd0e3;
    font-weight:  300;
    padding-bottom: 13px;
}
.single-footer-widget ul li a span {text-transform: lowercase;}
.footer-newsletter p{
    color: #aeafc2;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 15px;
} 	
/*hm-foot-email*/
/*.footer-copyright */
.footer-copyright {
    padding: 20px 0 17px;
    border-top: 1px solid #434859;
}
.footer-copyright p,.footer-copyright p a {
    color: #a8a9bf;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-social{text-align: right;}
.footer-social a i {
    color: #fff;
    opacity: .40;
    font-size: 14px;
    margin-left: 16px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.footer-social i:hover{opacity: .70;}

@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}
.single-service-icon i {
      font-size: 60px; /* ปรับขนาดตามที่คุณต้องการ */
    } 
</style>